body{
    background: rgba(70, 142, 236, 1);
    font: normal 15pt Arial;
}

header{
    color: black;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    max-width: 500px;
    width: 90vw;
    margin: 50px auto 10px auto;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.348);
    color: black;
}

div {
    text-align: left;
    padding: 8px;
}


footer{
    color: white;
    text-align: center;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
}